
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        div.imgFrame {
            border: 1px solid #000000;
            padding: 5px;
            margin: 15px;
        }
        div.imgFrame > p {
            background-color: white;
            border: 1px solid black;
            border-radius: 2px;
            padding: 2px;
            position: relative;
            top: -25px;
            text-align: center;
        }
        
    </style>
</head>
    <body>
        <div class="imgFrame">
            <p>Schemat modelu</p>
            <img src="Content/img/JeffersonModelBlock.png" title="Schemat Modelu" alt="Miejsce na schemat modelu"/>
        </div>
        <div class="imgFrame">
            <p>Schemat kontrolera</p>
            <img src="Content/img/JeffersonControllerBlock.png" title="Schemat Kontrolera" alt="Miejsce na schemat kontrolera"/>
        </div>
        
        
        <a href="https://github.com/adamekz/MOwZ-Jefferson">Kod projektu w serwisie GitHub</a>
        
    </body>

</html>